{% extends 'widgets/widget_template.html' %}
{% load custom_template %}
{% block body_color %}{{ body_color }}{% endblock %}
{% block body_text_color %}white{% endblock %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block widget_content %}
<style>
#csi {
  color: rgb(167,178,195);
}
#csi > #headers > div
{
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

#csi > #headers > #subject{
  text-align: left;
  width: calc(100% - (68px * 3) - 172px - 10px);
  padding-left: 10px;
}

#csi > #headers > #detected-count, #csi > #headers > #lists-updated, #csi > #headers > #list-prefix{
  width: 68px;
}

#csi > #headers > #addl-info {
  width: 162px;
  text-align: left;
  padding-left: 10px;
}

#csi > #headers {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

#csi #files {
  overflow: auto;
}

#csi #files #csi_results_table .tb-row{
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid black;
}

#csi #files #csi_results_table .tb-cell{
  display: inline-block;
}

.csi-result-subject {
  width: calc(100% - (68px * 3) - 172px - 10px);
  vertical-align: middle;
  padding-left: 10px;
}

.csi-result{
  width: 68px;
  text-align: center;
  vertical-align: middle;
}

.csi-addl-result
{
  width: 148px;
  vertical-align: middle;
  text-align:left;
  padding-left: 10px;
}

.csi-details-wrapper
{
  background-color: rgb(48,55,65);
}

.csi-details-wrapper .tb-cell
{
  padding-left: 10px;
  padding-right: 5px;
}

.csi-wrapper
{
  width: calc(100% + 5px);
  height: 100%;
  margin-left: -5px;
  overflow-y: auto;
}

.csi-wrapper, .cs-wrapper div{
  background-color: rgb(41,48,56);
}

.tb-row{
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.tb-cell-glyph{
  overflow: auto;
  width: 20px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.accordion-toggle:after
{
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  color: rgb(68, 136, 247);
}

.accordion-toggle.collapsed:after
{
  content: "\e080";
}

</style>
<div class="csi-wrapper" onwidgetupdate="handle_update(update_data, {{ app.id|default:'' }}, this);">
  <div id="csi" class="row-fluid p-t-10">
    <div id="headers">
      <div class="tb-header" id="subject">{{ cs_type }}</div>
      <div class="tb-header" id="detected-count">Detected</div>
      <div class="tb-header" id="lists-updated">List Update</div>
      <div class="tb-header" id="list-prefix">List Prefix</div>
      <div id="addl-info" data-toggle="collapse" data-target="#menu">Add'l Info</div>
    </div>
    <div id="csi-body">
      <div id="files">
        <div id="csi_results_table">
          {% for details, id, accordion_toggle, subject, detected_count, lists_updated, list_prefix, addl_info in summary_results %}
          <div role="button" class="tb-row {{ accordion_toggle }} collapsed" data-toggle="collapse" data-target="#details_{{ id }}">
            <div class="ellipsis tb-cell csi-result-subject">{{ subject }}</div>
            <div class="tb-cell csi-result">{{ detected_count }}</div>
            <div class="tb-cell csi-result">{{ lists_updated }}</div>
            <div class="tb-cell csi-result">{{ list_prefix }}</div>
            <div class="tb-cell csi-addl-result">{{ addl_info }}</div>
          </div>
          <div id="details_{{ id }}" class="csi-details-wrapper collapse">
            {% for detail in details %}
            {% for source in detail.sources %}
            <div class="tb-row">
              <div class="tb-cell">{{ source.source }}</div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
