{% extends 'widgets/widget_template.html' %}
{% load custom_template %}
{% block body_color %}{{ body_color }}{% endblock %}
{% block body_text_color %}white{% endblock %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block widget_content %}
<div style="color:#8775a7;">
{{ json_data|safe }}
</div>
<script>
function init_treeview_widget(obj) {
    json_treeview(obj);
    $('[data-contains]', obj).each(function() {
        var contains = $(this).attr('data-contains');
        if (contains == '[]') {
            return;
        }
        var txt = $(this).text();
        var h = $('<a href="javascript:;">' + txt + '&nbsp;<span class="fa fa-caret-down"></span></a>');
        $(h).attr('onclick', 'context_menu(this, [{\'value\': \'' + txt + '\', \'contains\': ' + contains + '}], 0, 13370, get_my_boundry(this), false);');
        $(this).html(h).addClass('widget-contextual');
    });
    $('.expand-all', obj).trigger('click');
}
</script>

{% endblock %}
